      body {
        margin-bottom: 56px; /* Adjust the margin value as needed */
      }

      body::after {
        content: "";
        background-image: url("static/images/pantry.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
      }

      /* Custom CSS for the navbar */
      .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
      }

      .custom-navbar {
        background-color: rgba(
          195,
          182,
          182,
          0.8
        ); /* Adjust the alpha value to control darkness */
      }

      @media (max-width: 460px) {
        /* Media query for smaller screens */
        .navbar-brand {
          font-size: 14px; /* Adjust the font size as per your preference */
        }

        .navbar-nav .nav-link {
          font-size: 14px; /* Adjust the font size as per your preference */
        }

        .navbar-nav {
          flex-wrap: nowrap;
        }
      }

      .btn-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .btn-group .btn {
        width: 23%; /* Adjust the width to your preference */
        margin-right: 15px; /* Add margin to the right side of each button */
      }

      .keypad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 10px;
      }

      .keypad-btn {
        width: 100%;
        font-size: 20px;
      }

      .keypad-input-display {
        font-size: 18px;
        margin: 10px auto;
      }

      .custom-btn {
        /* ... other styles ... */
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
    }


    .responsive-img {
      width: 100%;
      height: auto;
      max-width: 150px;
      max-height: 150px;
      object-fit: cover;
    }
    
    @media (max-width: 767.98px) { /* Targets devices with max-width of 768px (e.g., iPhones) */
      .responsive-img {
        max-width: 75px;
        max-height: 75px;
      }
    }
    