{% extends 'base.html' %}
{% block title %}
Main Menu
{% endblock %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <div class="container no-scroll">
    <form method="POST" action="/add_item">
      <div id="barcodeContainer">
        <label for="barcode" class="left-align">Barcode:</label>
        <input type="text" id="barcode" name="barcode" required oninput="checkBarcode(event)" class="right-align"><br/>
      </div>
      
      <div id="productDataContainer" style="display: none;">
        <textarea id="productname" style="width: 335px; height: 3em; resize: none;" name="productname" readonly class="left-align" onclick="enableProductNameEditing()"></textarea><br/>
        <div class="vertical-center">
          <img src="" id="productimage_show" alt="" style="max-width: 150px; max-height: 150px; object-fit: contain; "><br/>
              <button class="btn btn-warning" type="button" onclick="changeImageSrc(); return false;">Delete Picture</button>
              <input type="text" id="productimage_input" name="productimage" readonly style="display: none;">
        
        <div class="quantity-input-container">
            <div class="quantity-label"><span>Qty&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span></div>
            <div class="quantity-value">
              <button class="quantity-button" type="button" onclick="decrementQty()">-</button>
              <input class="quantity-input center-align" type="text" id="qty" name="qty" required>
              <button class="quantity-button" type="button" onclick="incrementQty()">+</button>
          </div>
        </div>
        <br/>
        
        <div class="quantity-input-container">
          
            <div class="quantity-label">Min Qty:</div>
            <div class="quantity-value">
              <button class="quantity-button" type="button" onclick="decrementMinQty()">-</button>
              <input class="quantity-input center-align" type="text" id="minqty" name="minqty" required>
              <button class="quantity-button" type="button" onclick="incrementMinQty()">+</button>          
          </div>
        </div>
        <br/>
      
        <label hidden="true" for="productimage">Product Image</label>
        <input hidden="true" type="text" id="productimage" name="productimage" readonly>
  
        
  
        <label for="category" class="left-align">Category</label>
        <select id="category" name="category_id" required class="selectpicker right-align" data-live-search="true" onchange="updateSubcategories()">
          <option value="">-- Select Category --</option>
          {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category }}</option>
          {% endfor %}
        </select>
        <br/>
  
        <label for="subcategory" class="left-align">Sub Category</label>
        <select id="subcategory" name="subcategory_id" required class="selectpicker right-align" data-live-search="true">
          <option value="">-- Select Subcategory --</option>
        </select>
        <br/>        
        <div class="button-container">
          <input class="btn btn-primary" type="submit" value="Add Item">
          <input class="btn btn-primary" type="button" value="Cancel" onclick="reloadPage()">
        </div>
      </div>
    </form>
    <div id="barcodeImageContainer" style="display: none;">
      <img src="" id="barcodeImage" alt="Scanned Barcode" style="max-width: 300px; max-height: 300px;">
    </div>
  </div>

  <script src="static/scripts/scripts.js"></script>
  
  <script>
    // function setFocusToBarcodeInput() {
    //   document.getElementById("barcode").focus();
    // }
  
    // // Call the function to set the focus when the page is loaded or refreshed
    // window.onload = setFocusToBarcodeInput;
        // function setFocusToBarcodeInput() {
        //     var barcodeInput = document.getElementById("barcode");
        //     barcodeInput.focus();

        //     // Trigger the keyboard manually
        //     barcodeInput.click();
        //     barcodeInput.focus();
        //   }

        //   window.onload = setFocusToBarcodeInput;
        window.addEventListener('DOMContentLoaded', (event) => {
    // Get a reference to the barcode input field by its ID
    const barcodeInput = document.getElementById('barcode');
    
    // Set focus to the input field
    barcodeInput.focus();
});
  </script>

<script>
  function reloadPage() {
    location.reload();
  }
</script>

  
  <script>
    function updateSubcategories() {
        var category_id = document.getElementById('category').value;
        var subcategoryDropdown = document.getElementById('subcategory');
  
        // Clear previous options
        subcategoryDropdown.innerHTML = '';
  
        // Create an empty default option
        var defaultOption = document.createElement('option');
        defaultOption.value = '';
        defaultOption.textContent = '-- Select Subcategory --';
        subcategoryDropdown.appendChild(defaultOption);
  
        // Perform an AJAX request to retrieve subcategories based on the selected category
        if (category_id !== '') {
            $.ajax({
                url: '/subcategories',
                method: 'POST',
                data: {
                    category_id: category_id
                },
                success: function(response) {
                    // Add new subcategory options based on the server response
                    response.subcategories.forEach(function(subcategory) {
                        var option = document.createElement('option');
                        option.value = subcategory.id;
                        option.textContent = subcategory.name;
                        subcategoryDropdown.appendChild(option);
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
    }
  </script>

<script>
  function changeImageSrc() {
    var productImage = document.getElementById("productimage_show");
    var productImageInput = document.getElementById("productimage_input");

    productImage.src = "https://st4.depositphotos.com/14953852/22772/v/450/depositphotos_227725020-stock-illustration-image-available-icon-flat-vector.jpg";
    productImageInput.value = "https://st4.depositphotos.com/14953852/22772/v/450/depositphotos_227725020-stock-illustration-image-available-icon-flat-vector.jpg";

    // Prevent form submission
    return false;
  }

</script>


  
  
  <style>
  .container {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .container.no-scroll {
      overflow: hidden;
    }
  
  .vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .quantity-input-container {
    display: flex;
    align-items: center;
  }
  
  .quantity-label {
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
    white-space: nowrap; /* Ensure label doesn't wrap to a new line */
  }
  
  .quantity-value {
    display: flex;
    align-items: center;
  }
  
  .quantity-button {
    font-size: 20px;
  } 
  
  .quantity-input {
    margin-right: 10px;
    margin-left: 10px;
    width: 3ch;
    text-align: center;
  }
  
  input[readonly] {
    border: none;
    color: black;
    padding: 0;
  }
  
  .left-align {
    text-align: left;
    display: inline-block;
    width: 120px;
    margin-right: 10px;
  }
  
  .right-align {
    text-align: right;
    display: inline-block;
    width: 200px;
  }
  
  textarea {
    width: 250px;
    height: 100px;
    resize: none;
  }

  .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.button-container input {
  margin-right: 30px;
}

  
  </style>

 
 

{% endblock %}
