{% extends 'base.html' %}

{% block title %}
Add Inventory
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Add Inventory</h1>
    <div style="width: 100%; max-width: 600px; margin: 0 auto; text-align: center;">
        <input type="text" id="barcode" placeholder="Enter or scan barcode" oninput="delayedCheckBarcode()" />
        <div id="result"></div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('barcode').focus();
    });

    let categories = {};
    let subcategories = {};
    let currentCategory = null;
    let currentSubcategory = null;
    let isNewItem = false;
    let barcodeTimeout;
    const errorSound = new Audio('./static/sounds/negative.mp3');
    const successSound = new Audio('./static/sounds/positive.mp3');

    function delayedCheckBarcode() {
        clearTimeout(barcodeTimeout);
        barcodeTimeout = setTimeout(checkBarcode, 1500); // 1500 milliseconds = 1.5 seconds
    }

    function loadCategories() {
        fetch('/get_categories')
            .then(response => response.json())
            .then(data => {
                categories = data.categories;
                subcategories = data.subcategories;

                const categorySelect = document.getElementById('edit-category');
                categorySelect.innerHTML = '';

                for (const category of categories) {
                    const option = document.createElement('option');
                    option.value = category.id;
                    option.textContent = category.category;
                    if (category.id == currentCategory) {
                        option.selected = true;
                    }
                    categorySelect.appendChild(option);
                }

                categorySelect.addEventListener('change', updateSubcategories);
                updateSubcategories();
            })
            .catch(error => {
                console.error('Error loading categories:', error);
            });
    }

    function updateSubcategories() {
        const categorySelect = document.getElementById('edit-category');
        const subcategorySelect = document.getElementById('edit-subcategory');
        const selectedCategoryId = categorySelect.value;

        subcategorySelect.innerHTML = '';

        for (const subcategory of subcategories) {
            if (subcategory.category_id == selectedCategoryId) {
                const option = document.createElement('option');
                option.value = subcategory.id;
                option.textContent = subcategory.subcategory;
                if (subcategory.id == currentSubcategory) {
                    option.selected = true;
                }
                subcategorySelect.appendChild(option);
            }
        }
    }

    function checkBarcode() {
        const barcode = document.getElementById('barcode').value;
        fetch(`/check_barcode/${barcode}`)
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                if (data.error) {
                    resultDiv.innerHTML = `<p>${data.error}</p>`;
                    displayEmptyFields(barcode);
                    errorSound.play(); // Play error sound
                } else {
                    if (data.isNew) {
                        currentCategory = data.category;
                        currentSubcategory = data.subcategory;
                        isNewItem = data.isNew || false;

                        document.getElementById('barcode').disabled = true;

                        resultDiv.innerHTML = `
                        </br>
                            <p>Product Name: <input type="text" id="edit-productname" value="${data.productname}" /></p>
                            <p>
                                Quantity: 
                                <button onclick="updateQty(-1)">-</button>
                                <input type="text" id="edit-qty" value="${data.qty}" />
                                <button onclick="updateQty(1)">+</button>
                            </p>
                            <p>
                                Min Quantity: 
                                <button onclick="updateMinQty(-1)">-</button>
                                <input type="text" id="edit-minqty" value="${data.minqty}" />
                                <button onclick="updateMinQty(1)">+</button>
                            </p>
                            <p>Category: <select id="edit-category"></select></p>
                            <p>Subcategory: <select id="edit-subcategory"></select></p>
                            <p>Product Image: <input type="text" id="edit-productimage" value="${data.productimage}" /></p>
                            <img class="product-image" src="${data.productimage}" alt="Product Image" /></br></br></br>
                            <button onclick="saveChanges(isNewItem)">Save Changes</button>
                            <button onclick="cancelChanges()">Cancel</button>
                        `;
                        loadCategories();
                        successSound.play(); // Play error sound
                    } else {
                        incrementQuantity(data.barcode);
                        successSound.play(); // Play error sound
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function incrementQuantity(barcode) {
        fetch(`/increment_qty/${barcode}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(`Error: ${data.error}`);
            } else {
                alert(data.message);
                reloadPage();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function reloadPage() {
        location.reload();
    }

    function displayEmptyFields(barcode) {
        currentCategory = null;
        currentSubcategory = null;
        isNewItem = true;

        document.getElementById('barcode').disabled = true;

        const resultDiv = document.getElementById('result');
        resultDiv.innerHTML = `
            <p>Product Name: <input type="text" id="edit-productname" value="" /></p>
            <p>
                Quantity: 
                <button onclick="updateQty(-1)">-</button>
                <input type="text" id="edit-qty" value="1" />
                <button onclick="updateQty(1)">+</button>
            </p>
            <p>
                Min Quantity: 
                <button onclick="updateMinQty(-1)">-</button>
                <input type="text" id="edit-minqty" value="1" />
                <button onclick="updateMinQty(1)">+</button>
            </p>
            <p>Category: <select id="edit-category"></select></p>
            <p>Subcategory: <select id="edit-subcategory"></select></p>
            <p>Product Image: <input type="text" id="edit-productimage" value="https://st4.depositphotos.com/14953852/22772/v/450/depositphotos_227725020-stock-illustration-image-available-icon-flat-vector.jpg" /></p>
            <img class="product-image" src="https://st4.depositphotos.com/14953852/22772/v/450/depositphotos_227725020-stock-illustration-image-available-icon-flat-vector.jpg" alt="Product Image" />
            <button onclick="saveChanges(true)">Save Changes</button>
            <button onclick="cancelChanges()">Cancel</button>
        `;
        loadCategories();
    }

    function updateQty(amount) {
        const qtyInput = document.getElementById('edit-qty');
        let qty = parseInt(qtyInput.value, 10);
        qty += amount;
        if (qty < 0) qty = 0;
        qtyInput.value = qty;
    }

    function updateMinQty(amount) {
        const minQtyInput = document.getElementById('edit-minqty');
        let minQty = parseInt(minQtyInput.value, 10);
        minQty += amount;
        if (minQty < 0) minQty = 0;
        minQtyInput.value = minQty;
    }

    function saveChanges(isNewItem) {
        const barcode = document.getElementById('barcode').value;
        const productname = document.getElementById('edit-productname').value;
        const qty = document.getElementById('edit-qty').value;
        const minqty = document.getElementById('edit-minqty').value;
        const category = document.getElementById('edit-category').value;
        const subcategory = document.getElementById('edit-subcategory').value;
        const productimage = document.getElementById('edit-productimage').value;

        const data = {
            barcode: barcode,
            productname: productname,
            qty: qty,
            minqty: minqty,
            category: category,
            subcategory: subcategory,
            productimage: productimage
        };

        const url = isNewItem ? '/additem' : `/updateitem/${barcode}`;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(`Error: ${data.error}`);
            } else {
                alert(data.message);
                clearForm();
                reloadPage();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function cancelChanges() {
        clearForm();
    }

    function clearForm() {
        document.getElementById('barcode').value = '';
        document.getElementById('barcode').disabled = false;
        document.getElementById('edit-productname').value = '';
        document.getElementById('edit-qty').value = '';
        document.getElementById('edit-minqty').value = '';
        document.getElementById('edit-category').value = '';
        document.getElementById('edit-subcategory').value = '';
        document.getElementById('edit-productimage').value = '';
        document.getElementById('result').innerHTML = '';
    }
</script>
{% endblock %}