{% extends 'base.html' %}

{% block title %}
All Categories - Products
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    {% for i in range(0, groceries|length, 3) %}
    <div class="col-md-12">
      <div class="card-group">
        {% for grocery in groceries[i:i+3] %}
        <div class="card">
          <div class="row no-gutters">
            <div class="col-4">
              <a href="{{ url_for('item', id=grocery.productid) }}">
                <img src="{{ grocery.productimage }}" class="card-img responsive-img" alt="{{ grocery.productname }}">
              </a>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">{{ grocery.productname }}</h5>
                <p class="card-text">{{ grocery.category }}</p>
                <p class="card-text">{{ grocery.subcategory }}</p>
                <div class="d-flex justify-content-between">
                  <p class="card-text{% if grocery.qty < grocery.minqty %} text-danger{% endif %}">Qty:</p>
                  <p class="card-text text-right">{{ grocery.qty }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Min:</p>
                  <p class="card-text text-right">{{ grocery.minqty }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
