{% extends 'base.html' %}
{% block title %}
View Inventory
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            {% for item in items %}
            <div class="card mb-3" style="background-color: transparent;">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img src="{{ item.productimage }}" class="card-img" alt="{{ item.productname }}" style="max-width: 125px; max-height: 125px;">
                    </div>
                    <div class="col-5">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.productname }}</h5>
                            <p class="card-text">{{ item.productcategory }}</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="card-text{% if item.qty < item.minqty %} text-danger{% endif %}">Qty:</p>
                                <p class="card-text text-right">{{ item.qty }}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Min:</p>
                                <p class="card-text text-right">{{ item.minqty }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
