{% extends 'base.html' %}
{% block title %}
    Log In Page
{% endblock %}
{% block header %}
<!-- Override the header block to prevent it from being displayed -->
{% endblock %}

{% block content %}
<div class="login">
    <h1>Login</h1>
    <form method="post">
        {{ form.hidden_tag() }} <!-- Include CSRF token for security -->
        <input type="text" name="{{ form.username.name }}" placeholder="Username" required="required" />
        <input type="password" name="{{ form.password.name }}" placeholder="Password" required="required" />
        {{ form.submit(class="btn btn-primary btn-block btn-large") }}
        <br/><br/>
        <h6>Do not have an account?</h6>
        <a href="{{ url_for('register_page') }}" class="btn btn-primary btn-block btn-large">Register</a>
    </form>
</div>
{% endblock %}
