{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:black">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="static/images/grocery_bag_cartoon.jfif" width="100px" height="100px" alt="">
            <h1 class="h3 mb-3 font-weight-large">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br/><br/><br/>
        
            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
             </div>

        </form>
    </div>
</body>
<style>
            body::after {
                content: "";
                background-image: url('static/images/pantry.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: 0.25;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: fixed;
                z-index: -1;
            }

</style>
{% endblock %}