{% extends 'base.html' %}
{% block title %}
Main Menu
{% endblock %}

{% block content %}
<div class="main-content">
    <img src="./static/images/Grocery_Store_Homepage.jpg" alt="Warehouse Image">
</div>
<script>
    function toggleMenu() {
        var menu = document.getElementById("menu");
        if (menu.style.display === "flex" || menu.style.display === "block") {
            menu.style.display = "none";
        } else {
            menu.style.display = "flex";
        }
    }
</script>

{% endblock %}
