{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}
{% block header %}
<!-- Override the header block to prevent it from being displayed -->
{% endblock %}

{% block content %}
<div class="login">
    <h1>Please Create Your Account</h1>
    <form method="POST">
        {{ form.hidden_tag() }} <!-- Include CSRF token for security -->
        
        <!-- Username Field -->
        <input type="text" name="{{ form.username.name }}" placeholder="Username" required="required" />

        <!-- Password1 Field -->
        <input type="password" name="{{ form.password1.name }}" placeholder="Password" required="required" />

        <!-- Password2 Field -->
        <input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" required="required" />

        <!-- Submit Button -->
        {{ form.submit(class="btn btn-primary btn-block btn-large") }}

        <br/><br/>

        <!-- Redirect to Login Page -->
        <h6>Already have an account?</h6>
        <a href="{{ url_for('login_page') }}" class="btn btn-primary btn-block btn-large">Login</a>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.querySelector('form');
        const password1Input = document.querySelector('input[name="password1"]');
        const password2Input = document.querySelector('input[name="password2"]');

        form.addEventListener('submit', event => {
            if (password1Input.value !== password2Input.value) {
                alert("Passwords do not match. Please try again.");
                event.preventDefault(); // Prevent form submission
            }
        });
    });
</script>

{% endblock %}
