{% extends 'base.html' %}
{% block title %}
Use Item
{% endblock %}

{% block content %}
<script>
  function checkBarcodeDelayed(event) {
    debounce(() => {
      checkBarcode(event);
    }, 500)();
  }

  function checkBarcodeDelayedUseItem(event) {
    debounce(() => {
      checkBarcode(event);
    }, 500)();
  }

  function debounce(func, delay) {
    let debounceTimer;
    return function(...args) {
      clearTimeout(debounceTimer);
      debounceTimer = setTimeout(() => func.apply(this, args), delay);
    };
  }

  function checkBarcode(event) {
    const barcode = event.target.value;

    setTimeout(function() {
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/use_item", true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            handleBarcodeResponse(response, barcode);
          }
        }
      };
      xhr.send("barcode=" + barcode);
    }, 750);
  }

  function handleBarcodeResponse(response, barcode) {
  if (response.barcode_not_found) {
    playSoundAndReload('static/sounds/negative.mp3');
  } else {
    playSoundAndReload('static/sounds/positive.mp3');
  }
}

function playSound(soundSrc) {
  const audio = new Audio(soundSrc);
  audio.play();
}


function playSoundAndReload(soundSrc) {
  const audio = new Audio(soundSrc);
  audio.onended = function() {
    window.location.reload();
  };
  audio.play();
}
</script>

  <div class="container">
    <form method="POST" action="/use_item">
      <h1 class="display-6 font-weight-normal">Use Item Page</h1>
      <br/><br/>
      <div id="barcodeContainer">
        <label for="barcode" class="left-align">Barcode:</label>
        <input type="text" id="barcode" name="barcode" required oninput="checkBarcodeDelayedUseItem(event)">
      </div>
    </form>
  </div>
{% endblock %}